furo==2024.1.29 ; python_version >= "3.9" and python_version < "4.0"
myst-parser==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
sphinx-autobuild==2024.2.4 ; python_version >= "3.9" and python_version < "4.0"
sphinx-basic-ng==1.0.0b2 ; python_version >= "3.9" and python_version < "4.0"
sphinx-click==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
sphinx-copybutton==0.5.2 ; python_version >= "3.9" and python_version < "4.0"
sphinx==7.2.6 ; python_version >= "3.9" and python_version < "4.0"
